
<div class="contents">
  <div class="title">
    <%= link_to("新規追加","/posts/new")%>
  </div>
  <div class="main">
    <table>
      <tr>
        <td>ID</td>
        <td>タイトル</td>
        <td>開始日</td>
        <td>終了日</td>
        <td>終日</td>
        <td>更新日時</td>
        <td colspan ="3"></td>
      </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%=post.id %></td>
        <td><%=post.title %></td>
        <td><%=post.begin.strftime("%Y/%m/%d")%></td>
        <td><%=post.last.strftime("%Y/%m/%d")%></td>
        <td><%=post.alltime %></td>
        <td><%=post.updated_at.strftime("%Y/%m/%d %R")%></td>
        <td><%=link_to("詳細","/posts/#{post.id}")%></td>
        <td><%=link_to("編集","/posts/#{post.id}/edit")%></td>
        <td><%=link_to("削除","/posts/#{post.id}/destroy",
                       data: { "turbo-method": :post, 
                       "turbo_confirm": "予定を削除しますか？" } )%> 
        </td>
      </tr>
    <%end%>
    </table>
  </div>
  <div class="footer">
  <p class="count">予定合計 <%=@posts.length%>件 </p>
  <p class="date_today"> 本日の日付 <%=Date.today.strftime("%Y/%m/%d") %> <p>
  </div>
</div>
